/* Sitewise attributes */

div#label-container, div#memo-list, div#memo {
  max-height: calc(100vh - 4em);
  overflow-y: scroll;
}

html a {
  color: black;

  & :link, :visited, :hover, :active {
    text-decoration: none;
  }
}

div.container {
  margin: 2em auto;
}

/* LabelItem */

li.label-item {
  position: relative;
  color: #414a4c;

  button {
    position: absolute;
    right: 2em;
  }
}

li.label-item.selected {
  background-color: #414a4c;
  a {
    color: white;
  }
}

input#new-label-name {
  border: 0;
  width: 100%;
}

/* MemoPanels */

input.memo-title, input.new-memo-title {
  width: 100%;
  background: 0;
  border: 0;
}

textarea.memo-body, textarea.new-memo-body {
  resize: none;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

div.memo-panel {
  div.panel-heading {
    background-color: #414a4c;
    color: white;
    font-weight: bold;

    a, button {
      color: #333;
    }
  }

  div.panel-footer {
    padding: 0;
  }

  a.btn-block {
    border: 0;
    padding: 10px;
  }
}

div.memo-body {
  white-space: pre-line;
}

a.memo-edit {
  margin-left: 2em;
}

button.memo-delete {
  margin: auto 0.5em;
}

b.memo-item-title {
  font-size: 1.2em;
}

p.memo-item-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.memo-item-date, span.memo-date {
  font-size: 0.8em;
}
