/* Sitewise attributes */


html, body, div#app {
  height: 100vh;
  overflow-y: hidden;
}

div#label-container, div#memo-container {
  height: 100%;
  padding: 2em;
}

div#memo {
  height: 100%;
}

div#memo-body {
  height: 80vh;
  overflow-y: scroll;
}

div#memo-list-column {
  height: 100%;
}

ul#label-list, ul#memo-list {
  height: 85%;
  padding-bottom: 1em;
  overflow-y: scroll;
}

ul#labels-dropdown-list {
  height: 70vh;
  overflow-y: scroll;
}

html a {
  color: black;

  & :link, :visited, :hover, :active {
    text-decoration: none;
  }
}

span#new-memo-helper, span#new-label-helper {
  height: 1em;
}

/* LabelContainer */

ul#label-list {
  margin-bottom: 0;
}

li.label-item {
  position: relative;
  color: #414a4c;

  span.label-name {
    margin-right: 1em;
  }

  button {
    position: absolute;
    right: 2em;
  }
}

li.label-item.selected {
  background-color: #414a4c;
  a {
    color: white;
  }
}

input#new-label-name {
  border: 0;
  width: 100%;
}

/* MemoContainer */

div#memo-handler {
  margin-bottom: 2em;
}

div#labels-dropdown {
  position: absolute;
  top: 0;
  width: 100%;
  display: inline-block;
}

ul#labels-dropdown-list {
  visibility: hidden;
  word-break: break-all;
}

/* MemoList */

ul#memo-list {
  margin-bottom: 0;
}

b.memo-item-title {
  font-size: 1.2em;
}

p.memo-item-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.memo-item-date, span#memo-date {
  font-size: 0.8em;
}

div#empty-memo-list {
  word-break: keep-all;

  h1 {
    font-size: 56px;
  }

  div.jumbotron {
    margin-bottom: 0;
  }
}

/* General styling for all MemoPanels */

div.memo-panel {
  margin-bottom: 0;

  div.panel-heading {
    background-color: #414a4c;
    color: white;
    font-weight: bold;

    a, button {
      color: #333;
    }
  }

  div.panel-footer {
    padding: 0;
  }

  a.btn-block {
    border: 0;
    padding: 10px;
  }
}

/* NewMemoPanel */

input#new-memo-title {
  width: 100%;
  background: 0;
  border: 0;
}

textarea#new-memo-body {
  resize: none;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

/* EditMemoPanel */
input#memo-title {
  width: 100%;
  background: 0;
  border: 0;
}

textarea#memo-body {
  resize: none;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

/* MemoPanel */

a#memo-edit {
  margin-left: 2em;
}

button#memo-delete {
  margin: auto 0.5em;
}

div#memo-body {
  white-space: pre-line;
}
