<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name='description' content="Record your life into Dramatic Note">
    <title>Dramatic Note</title>
  </head>
  <body>
    <div id="main" class="container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.13.0/polyfill.js"></script>
    <script src="{{ url_for('static', filename='_bundle.js') }}"></script>
  </body>
</html>
